<script context="module">
	export async function load({ fetch }) {
		const res = await fetch('/blog.json');
		const { blogs } = await res.json();
		if (res.ok) {
			return {
				props: {
					blogs
				}
			};
		}
		return {
			status: res.status,
			error: new Error('Could not fetch the guides')
		};
	}
</script>

<script>
	export let blogs;
	// console.log(blogs);
</script>

{#each blogs as blog}
	<div class="container">
		<div class="eachBlog">
			<div>{blog.title}</div>
			<div>{blog.excerpt}</div>
		</div>
	</div>
{/each}

<style>
	.container {
		display: flex;
		margin: 12px;
		padding: 10px;
		border: 3px solid blue;
	}
	.eachBlog {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
</style>
